@use "../../styles/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $main;
  transition: box-shadow 0.2s ease 0s;

  gap: 8px;
  padding: 14px;

  border: 1px solid $main-border;
  border-radius: 12px;

  max-width: 600px;
  min-width: 200px;

  max-height: 400px;
  min-height: 125px;

  width: 14vw;
  height: 16vh;

  &:hover {
    background: $second-main;
    box-shadow: 0 4px 18px $brand-hover;
  }
}

.content {
  flex: 1; /* Занимает всё оставшееся пространство между шапкой и кнопками */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: 600;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desc {
  margin: 0;
  color: #bdbdbd;
  line-height: 1.35;

  display: -webkit-box;
  -webkit-line-clamp: 3;     /* показывать максимум 3 строки */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.edit, .delete {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
}

.edit, .delete {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease 0s;
}

.edit {
  background: #4a90e2;
  border-color: #1f476e;

  &:hover {
    background-color: #204161;
  }
}

.delete {
  background: #e24a4a;
  border-color: #751717;

  &:hover {
    background-color: #602020;
  }
}