$bg: #121216;
$main:#1e1f22;
$second-main:#1a1a1d;
$main-border: rgba(0,0,0,.08);
$brand: #76c89d;
$brand-hover: #418766;
$second-color: #5f4bda;
$second-brand-hover: #3b3198;
$text-primary: #f8f8f1;
$second-primary-text: #cfd2ff;
$error: #dcb2b2;
$text-error: #dd1200;
$input-bg: #5c5c5c;