$bg: #121216;
$main:#1e1f22;
$second-main:#1a1a1d;
$main-border: rgba(0,0,0,.08);
$input-bg: rgba(255, 255, 255, 0.1);
$main-hover: #2a2b2e;

$brand: #76c89d;
$brand-hover: #418766;

$second-color: #5f4bda;
$second-brand-hover: #3b3198;

$text-primary: #f8f8f1;
$second-primary-text: #cfd2ff;
$text-gray: #9a9a9a;
$error: #dcb2b2;
$text-error: #dd1200;

$like: #51a86a;
$like-hover: #326842;
$like-border: #1b361f;
$like-active: #50fa7b;

$dislike: #f15e5e;
$dislike-hover: #872929;
$dislike-border: #3d1b1b;
$dislike-active: #fd4949;

$rating: #ffb86c;
$rating-shover: #b27e4a;