$bg-color: #121216;
$main-color:#1e1f22;
$second-main-color:#1a1a1d;
$brand-color: #76c89d;
$second-brand-color: #5f4bda;
$main-text-color: #f8f8f1;
$second-text-color: #cfd2ff;
$error-color: #dcb2b2;
$text-error-color: #dd1200;