@use "../../../styles/variables" as *;
@use "sass:color";

:root {
  --space:       clamp(16px, 1.6vmin, 20px);
  --section-gap: clamp(30px, 2vmin, 20px);;
  --radius:      16px;
  --card-w:      min(100%, 920px);

  --avatar:     clamp(120px, 18vmin, 180px);
  --font-base:  clamp(14px, 1.8vmin, 18px);
  --font-title: clamp(22px, 3.2vmin, 32px);
}


.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-base);

  /* Чтобы контент не прилипал к верху */
  padding-top: 100px;
  padding-bottom: 60px;

  min-height: 100vh;
  background: #0b0c10; /* фон можно под свой */
}

.card {
  width: 100%;
  max-width: var(--card-w);
  background: $main;
  border: $main-border;
  border-radius: var(--radius);
  padding: calc(var(--space) * 1.5);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
  margin-bottom: 30px; /* ← добавляем отступ вниз */
}
