@use "../../styles/variables" as *;

.fab {
  position: fixed;
  right: 24px;
  bottom: 24px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: none;
  background: $second-color;
  color: white;
  font-size: 28px;
  line-height: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 8px 24px $second-brand-hover;
  transition: 0.3s;

  &:hover {
    filter: brightness(1.05);
    background: $second-brand-hover;
  }
}

.fab:active {
  transform: translateY(1px);
}

@media (max-width: 1000px) {
  .fab {
    padding: 10px 12px;
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .fab {
    padding: 8px 10px;
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .fab {
    padding: 8px 10px;
    font-size: 10px;
  }
}

@media (max-width: 300px) {
  .fab {
    padding: 6px 8px;
    font-size: 8px;
  }
}