@use "../../styles/variables" as *;

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 16px;
}

.modal {
  width: min(520px, 100%);
  background: $main;
  color:$text-gray;
  border-radius: 12px;
  box-shadow: 0 10px 35px $main-border;
  border: 1px solid $main-border;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.closeBtn {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 22px;
  line-height: 1;
  color: inherit;
}

.body {
  padding: 16px;
  font-size: 15px;
}

.message {
  margin: 0;
  opacity: 0.9;
}

.footer {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.primary {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid $main;
  background: $brand;
  color: $text-primary;
  cursor: pointer;
  font-weight: 600;

  &:hover {
      background: $brand-hover;
  }
}

.secondary {
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid $main;
  background: $second-color;
  color: $text-primary;
  cursor: pointer;

    &:hover {
        background: $second-brand-hover;
    }
}