@use "../../styles/variables" as *;
@use "sass:color";

:root {
  --nav-h: clamp(56px, 10vh, 88px);
  --nav-font: clamp(12px, 22vh, 20px);
}

.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  height: var(--nav-h); /* было: 10vh + min-height */
  background: #1f1f25cc;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(255,255,255,.08);
  z-index: 1000;
}

.inner {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  padding: 0 2vw;
}

:root { --nav-font: clamp(12px, 22vh, 20px); }

.brand {
  font-weight: 700;
  font-size: calc(var(--nav-font) * 1.2);
  margin-right: 0.5rem;
}

.brandLink {
  color: $text-primary;
  text-decoration: none;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1vw;
  margin: 0;
  padding: 0;
}

.link,
.active {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 42px;
  border-radius: 10px;

  font-size: var(--nav-font);
  color: $second-primary-text;
  text-decoration: none;

  transition: background .15s ease, color .15s ease, transform .06s ease;
}

.link:hover {
  background: $second-main;
  color: $text-primary;
}

.link:active {
  transform: translateY(1px);
}

.active {
  background: $brand;
  color: $text-primary !important;
  box-shadow: 0 0 0 1px color.adjust($brand, $lightness: -5%) inset;

    &:hover {
        background: $brand-hover;
        box-shadow: 0 0 0 1px color.adjust($brand-hover, $lightness: -5%) inset;
    }
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .inner {
    width: 90%;
    padding: 0 1rem;
    gap: 1rem;
  }

  .menu {
    gap: 0.5rem;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .link,
  .active {
    font-size: calc(var(--nav-font) * 0.7);
    height: 20px;
  }

  .brand {
    display: none;
  }

  .username {

  }
}

@media (max-width: 480px) {
  .inner {
    width: 90%;
    padding: 0;
    gap: 1rem;
  }

  .link,
  .active {
    padding: 0 0.3rem;
    font-size: calc(var(--nav-font) * 0.8);
    height: 36px;
  }

  .username {
    display: none;
  }
}